<!-- header -->
<%- include('../components/header.ejs') %>

<!-- navbar -->
<%-include('../components/navbar.ejs') %>

<main style="padding-top: 100px; height: 1000px">
  <div class="container">
    <h1 class="text-center"><%= error.message %></h1>
    <h3 class="text-center"><%= error.text %></h3>
    <p class="text-center">internal server error <%= error.status %></p>
  </div>
</main>

<!-- footer -->
<%- include('../components/footer.ejs') %>
